# Normalize line endings
* text=auto

# Explicitly set LF for specific files
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.sh text eol=lf
*.babelrc text eol=lf
*.env text eol=lf
client/public/index.html text eol=lf
client/src/App.js text eol=lf
client/src/components/Cart.js text eol=lf
